/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);




/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#6e767c; text-decoration: underline; outline:none}
a:hover{ color:#6e767c; text-decoration: none; outline:none}

body{ background:#fff; border:0; font: 14px 'Open Sans', Arial, Helvetica, sans-serif; color:#777777 ; line-height:1.715; min-width:320px;}


.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

/* Page Animated item Styles */
.animated {
  visibility: hidden;
}

.visible {
visibility: visible;
}

/* ============================= header ====================== */
#top0{position: relative; background: #222222;}

.phone1{font-size: 13px; line-height: 20px; color: #cccccc; padding-right: 15px; margin-right: 15px; border-right: 1px solid #444444; float: left; padding-top: 15px; padding-bottom: 15px;}
.phone1 i{color: #03a9f4; line-height: 20px; float: left; padding-right: 10px;}
.phone1 span{display: table;}

.mail1{font-size: 13px; line-height: 20px; color: #cccccc; padding-right: 15px; float: left; padding-top: 15px; padding-bottom: 15px;}
.mail1 i{color: #03a9f4; line-height: 20px; float: left; padding-right: 10px;}
.mail1 span{display: table;}
.mail1 span a{color: #cccccc; text-decoration: none;}
.carousel-box {margin-left:20px;}
.add1{float: right; line-height: 13px; padding-top: 18px; padding-bottom: 15px;}

.icon-globe{float: left; border-right: 1px solid #444444; padding-right: 10px; line-height: 14px;}
.icon-globe i{line-height: 14px; color: #03a9f4; font-size: 13px;}

.dropdown1{float: left; line-height: 14px;}
.dropdown1 .dropdown-toggle{padding: 0 15px; border: none; background: url(../images/dropdown1.png) right center no-repeat; margin: 0; font-size: 13px; line-height: 14px; color: #777777; text-transform: uppercase; vertical-align: top;}
.dropdown1 .dropdown-menu{background: #333333; padding: 0; border: 0; margin: 0; border-radius: 0; min-width: 0; -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);}
.dropdown1 .dropdown-menu li{border-top: 1px solid #303030;}
.dropdown1 .dropdown-menu li a{padding: 0 15px; color: #888888; font-size: 13px; line-height: 18px; text-decoration: none;}
.dropdown1 .dropdown-menu li a:hover{background: none; color: #fff;}

.navbar-collapse.in {height:250px;}

#top1{width: 100%; position: relative; left: 0; top: 0; /*z-index: 99;*/ min-width: 320px;}

#top2-sticky-wrapper{transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}

.sticky-wrapper.is-sticky {}

#top2{position: relative; z-index: 40;}

.top2_wrapper{background: #333333;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.is-sticky .top2_wrapper{}



.top2{position: relative;}

header{position: absolute; left: 0; top: 50%; margin-top: -21px; z-index: 50;}

.ibig{display: none;}


/* ============================= content ====================== */

.track_wrapper{}
.track{background: url(../images/earth.png) center top no-repeat #fff; text-align: center; padding: 70px; box-shadow: 100px 0 rgba(0, 0, 0, 0.3); moz-box-shadow: 100px 0 rgba(0, 0, 0, 0.3); -webkit-box-shadow: 100px 0 rgba(0, 0, 0, 0.3); margin-bottom: 20px;}
.track .img{margin-left: auto; margin-right: auto;}
.track .txt1{font-weight: 700; font-size: 30px; color: #656565; text-transform: uppercase; margin-top: 40px;}
.track .txt2{font-weight: 400; font-size: 12px; color: #656565; text-transform: uppercase; margin-top: 0px;}


.social_wrapper{float: right;}
.social{ display: block; margin: 0; padding: 0; list-style: none;}

.social li{display: inline-block; margin: 0 0 0 20px; float: left;}
.social li a{display: block; text-decoration: none; width: 40px; height: 40px; font-size: 18px; color: #fff; text-align: center; line-height: 36px; border: 2px solid #fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social li a:hover{color: #03a9f4; background: #fff;}

/* ============================= slider ====================== */
#slider-wrapper{position: absolute; left: 0; top: 50%; z-index: 2; width: 100%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
#slider{position: relative;padding-top: 80px; padding-bottom: 0px;}

.slider_pagination{padding-top: 160px;}
.slider_pagination a{display: inline-block; width: 15px; height: 15px; margin-right: 5px; background: url(../images/pagination.png) center center no-repeat; position: relative; overflow: hidden; text-indent: -9999px;}
.slider_pagination a:hover, .slider_pagination a.selected{background: url(../images/pagination_hover.png) center center no-repeat;}


#slider .carousel-box{position: relative;}
#slider .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#slider .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#slider .caroufredsel_wrapper{padding: 0; margin: 0;}
#slider .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#slider .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:100%; overflow:hidden; padding-right:30px }

.slider{}
.slider .slider_inner{text-transform: uppercase;color: #fff; line-height: 1.4;}
.slider .slider_inner .txt1{font-weight: 800; font-size: 85px; color: #ebf4f3; line-height: 1.1; margin-bottom: 5px; padding-bottom: 70px;}
.slider .slider_inner .btn0{float: left; margin-right: 20px;}
.slider .slider_inner .txt2{display: table;}
.slider .slider_inner .txt3{font-size: 15px; opacity: 0.6; filter:alpha(opacity=60);}
.slider .slider_inner .txt4{font-size: 20px; font-weight: bold;}
/* ============================= slider end ====================== */

#man_wrapper{position: relative; background: #f5f5f5; padding-top: 100px; padding-bottom: 90px;}

/* ============================= man ====================== */
#man .carousel-box{position: relative;}
#man .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#man .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#man .caroufredsel_wrapper{padding: 0; margin: 0;}
#man .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#man .carousel-box ul.man_ul > li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.man{}
.man .man_inner{}
.man .man_inner figure{margin: 0; padding: 0px; position: relative; border: none; padding: 0px; background: none; opacity: 1; filter: alpha(opacity=100);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.man .man_inner figure img{margin: 0 auto; border-radius:0 0 0 0; -moz-border-radius:0 0 0 0; -webkit-border-radius:0 0 0 0;}
.man .man_inner figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #03a9f4; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.man .man_inner:hover figure em{opacity: 0.6; filter: alpha(opacity=60);}
.man .man_inner figure .social3_wrapper{opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.man .man_inner:hover figure .social3_wrapper{opacity: 1; filter: alpha(opacity=100);}
.man .man_inner .caption{text-align: center; padding: 5px;}
.man .man_inner .caption .txt1{font-weight: 700; font-size: 16px; color: #3e4f59;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.man .man_inner:hover .caption .txt1{color: #00c0e2;}
.man .man_inner .caption .txt2{font-weight: 400; font-size: 12px; color: #aaaaaa; text-transform: uppercase;}



.social3_wrapper{border-top: 1px solid #fff; border-bottom: 1px solid #fff; width: 100%; position: absolute; left: 0; bottom: 5%; text-align: center; padding: 7px 0;}
.social3{ display: block; margin: 0; padding: 0; list-style: none;}
.social3 li{display: inline-block; margin: 0 10px;}
.social3 li a{display: block; text-decoration: none; font-size: 15px; color: #fff; text-align: center;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social3 li a:hover{color: #000;}


/* ============================= man end ====================== */

#testimonials_wrapper{position: relative; background: #fff; padding-top: 30px; padding-bottom: 50px;}

/* ============================= testimonials ====================== */
#testimonials .carousel-box{position: relative;}
#testimonials .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#testimonials .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#testimonials .caroufredsel_wrapper{padding: 0; margin: 0;}
#testimonials .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#testimonials .carousel-box ul.testimonials_ul > li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.testimonials{}
.testimonials .testimonials_inner{position: relative;padding-bottom: 21px;}
.testimonials .testimonials_inner .txt1{background: #fff; border: 1px solid #f1f1f1; padding: 35px 20px;}
.testimonials .testimonials_inner .txt2{background: #f9f9f9; border: 1px solid #f1f1f1; padding: 5px 20px 5px 80px;}
.testimonials .testimonials_inner .txt2 .stars{float: right;}
.testimonials .testimonials_inner .txt2 .name{float: left; color: #969595;}
.testimonials .testimonials_inner figure{position: absolute; left: 0; bottom: 0;background: #fff; border: 1px solid #f1f1f1; border-top: none; padding: 0 7px 7px 7px;}

.stars{}
.stars .star1{color: #ffa200; display: inline-block;}
.stars .star2{color: #dbdbdb; display: inline-block;}

/* ============================= testimonials end ====================== */

#group_wrapper{position: relative; background: #fff; padding-top: 50px; padding-bottom: 50px; border-top: 1px solid #dfdfdf;}

/* ============================= group ====================== */
.group_prev{display: block; width: 15px; height: 22px; background: url(../images/prev2.png) center center no-repeat ; opacity: 0.6; filter: alpha(opacity=60); position: absolute; left: 0px; margin-top: -11px; top: 50%; z-index: 10;}
.group_prev:hover{opacity: 1; filter: alpha(opacity=100);}

.group_next{display: block; width: 15px; height: 22px; background: url(../images/next2.png) center center no-repeat; opacity: 0.6; filter: alpha(opacity=60); position: absolute; right: 0px; margin-top: -11px; top: 50%; z-index: 10;}
.group_next:hover{opacity: 1; filter: alpha(opacity=100);}

#group .carousel-box{position: relative;padding-left: 15px; padding-right: 15px;}
#group .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#group .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#group .caroufredsel_wrapper{padding: 0; margin: 0;}
#group .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#group .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.group{}
.group .group_inner{}
.group .group_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.group .group_inner a:hover{ background: none; }
.group .group_inner a figure{margin: 0; padding: 0px; position: relative; border: none; padding: 0px; background: none; opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.group .group_inner a:hover figure{background: none; opacity: 1; filter: alpha(opacity=100);}
.group .group_inner a figure img{margin: 0 auto; border-radius:0 0 0 0; -moz-border-radius:0 0 0 0; -webkit-border-radius:0 0 0 0;}
.group .group_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.group .group_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}

/* ============================= group end ====================== */


#content{position: relative; padding-top: 50px; padding-bottom: 50px;}

.breadcrumbs1_wrapper{position: relative; margin-top: 0px; padding-bottom: 0px; background: #f5f5f5;}
.breadcrumbs1{padding: 15px 0px; margin-top: 0px; font-weight: 600; line-height: 20px; color: #333333;font-size: 12px;}
.breadcrumbs1 a{color: #03a9f4; text-decoration: underline;}
.breadcrumbs1 a:hover{color: #000;}
.breadcrumbs1 span{display: inline-block; width: 9px; height: 5px; background: url(../images/breadcrumb.png) center center no-repeat; margin: 0 7px;}



#home{position: relative;}

#services{position: relative; background: #fff; padding-top: 100px; padding-bottom: 80px;}

#about{position: relative; background: #000;}

.splash1{position: relative; display: table; width: 100%;}

.splash1 > div{display: table-cell; width: 50%;}

.splash1 .right_box_wrapper{position: relative; background: url("../img/bg_inv.jpg") left center no-repeat #11aef4; background-size: cover;}
.splash1 .right_box{width: 615px; position: relative; padding: 70px 0; color: #000;}

.splash1 .left_box_wrapper{background: url("../img/bg.jpeg") right center no-repeat; background-size: cover;}

.ul0{padding: 0; margin: 0 0 0 -38px; list-style: none;}
.ul0 li{list-style: none; display: block; margin-top: 40px;}
.ul0 li:first-child{margin-top: 0;}
.ul0 li figure{background: #fff; float: left;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; margin-right: 50px;}
.ul0 li .caption{display: table;}
.ul0 li .txt1{font-size: 20px; font-weight: 700;}
.ul0 li .txt2{font-size: 15px;}

#locations{position: relative; background: #fff; padding-top: 100px; padding-bottom: 80px;}

.map2{display: none; position: relative;}
.map2 img{position: relative;}

.circle{width: 100px; height: 100px; background: #03a9f4; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; position: absolute; left: 0; top: 0;}

.circle {
  -webkit-animation: wave-animation1 3s 0s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 3s 0s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 3s 0s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 3s 0s infinite linear; /* IE 10+ */
}

.circle1{left: 280px; top: 170px;}
.circle2{width: 50px; height: 50px;left: 25px; top: 100px;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;

  -webkit-animation-duration: 2.13s;
  -moz-animation-duration: 2.13s;
  -o-animation-duration: 2.13s;
  animation-duration: 2.13s;
}
.circle3{width: 150px; height: 150px;left: 180px; top: 200px;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;

  -webkit-animation-duration: 2.43s;
  -moz-animation-duration: 2.43s;
  -o-animation-duration: 2.43s;
  animation-duration: 2.43s;
}
.circle4{left: 580px; top: 190px;
  -webkit-animation-delay: 0.21s;
  -moz-animation-delay: 0.21s;
  -o-animation-delay: 0.21s;
  animation-delay: 0.21s;

  -webkit-animation-duration: 3.13s;
  -moz-animation-duration: 3.13s;
  -o-animation-duration: 3.13s;
  animation-duration: 3.13s;
}
.circle5{width: 150px; height: 150px;left: 890px; top: 200px;
  -webkit-animation-delay: 0.17s;
  -moz-animation-delay: 0.17s;
  -o-animation-delay: 0.17s;
  animation-delay: 0.17s;

  -webkit-animation-duration: 2.73s;
  -moz-animation-duration: 2.73s;
  -o-animation-duration: 2.73s;
  animation-duration: 2.73s;
}
.circle6{left: 930px; top: 420px;
  -webkit-animation-delay: 0.31s;
  -moz-animation-delay: 0.31s;
  -o-animation-delay: 0.31s;
  animation-delay: 0.31s;

  -webkit-animation-duration: 2.73s;
  -moz-animation-duration: 2.73s;
  -o-animation-duration: 2.73s;
  animation-duration: 2.73s;
}
.circle7{width: 70px; height: 70px;left: 990px; top: 400px; opacity: 0.45; filter:alpha(opacity=45);
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;

  -webkit-animation-duration: 2.03s;
  -moz-animation-duration: 2.03s;
  -o-animation-duration: 2.03s;
  animation-duration: 2.03s;
}
.circle8{width: 25px; height: 25px;left: 60px; top: 125px; background: #fff; border: 1px solid #03a9f4; opacity: 0.6; filter:alpha(opacity=60);
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;

  -webkit-animation-duration: 1.44s;
  -moz-animation-duration: 1.44s;
  -o-animation-duration: 1.44s;
  animation-duration: 1.44s;
}
.circle9{width: 75px; height: 75px;left: 270px; top: 250px; background: #fff; border: 1px solid #03a9f4; opacity: 0.6; filter:alpha(opacity=60);
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;

  -webkit-animation-duration: 1.94s;
  -moz-animation-duration: 1.94s;
  -o-animation-duration: 1.94s;
  animation-duration: 1.94s;
}
.circle10{width: 60px; height: 60px;left: 640px; top: 180px; background: #fff; border: 1px solid #03a9f4; opacity: 0.6; filter:alpha(opacity=60);
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;

  -webkit-animation-duration: 1.84s;
  -moz-animation-duration: 1.84s;
  -o-animation-duration: 1.84s;
  animation-duration: 1.84s;
}
.circle11{width: 55px; height: 55px;left: 980px; top: 235px; background: #fff; border: 1px solid #03a9f4; opacity: 0.6; filter:alpha(opacity=60);
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;

  -webkit-animation-duration: 2.14s;
  -moz-animation-duration: 2.14s;
  -o-animation-duration: 2.14s;
  animation-duration: 2.14s;
}

@-webkit-keyframes wave-animation1 {
  0%   {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -ms-transform: scale(0.0001);
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  90% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes wave-animation1 {
  0%   {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -ms-transform: scale(0.0001);
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  90% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-o-keyframes wave-animation1 {
  0%   {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -ms-transform: scale(0.0001);
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  90% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }transform: rotate(360deg);
  }
}
@keyframes wave-animation1 {
  0%   {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -ms-transform: scale(0.0001);
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  90% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

#trucking{position: relative; background: #fff;}

.splash2{position: relative; display: table; width: 100%; table-layout: fixed;}
.splash2 > div{display: table-cell; width: 50%; vertical-align: middle;}
.splash2 .left_box_wrapper{background: #fafafa;}
.splash2 .left_box{width: 615px; position: relative; margin-left: auto; padding: 90px 20px 90px 0;}
.splash2 .right_box_wrapper{}

.splash3{position: relative; display: table; width: 100%; table-layout: fixed;}
.splash3 > div{display: table-cell; width: 50%; vertical-align: middle;}
.splash3 .left_box_wrapper{}
.splash3 .right_box_wrapper{background: #fafafa;}
.splash3 .right_box{width: 615px; position: relative; padding: 90px 0px 90px 20px; text-align: right;}
.splash3 .title5{text-align: right; background-position: right bottom;}
.splash3 .title51{text-align: right; background-position: right bottom;}
.car1{margin-left: auto; display: block; float: right;}

.splash4{position: relative; display: table; width: 100%; table-layout: fixed;}
.splash4 > div{display: table-cell; width: 50%; vertical-align: middle;}
.splash4 .left_box_wrapper{background: #fafafa;}
.splash4 .left_box{width: 615px; position: relative; margin-left: auto; padding: 90px 20px 90px 0;}
.splash4 .right_box_wrapper{}

#partners{position: relative; background: #03a9f4; padding-top: 70px; padding-bottom: 70px;}

/* ============================= partners ====================== */
.partners_prev{display: block; width: 48px; height: 48px; background: url(../images/prev.png) center center no-repeat ; opacity: 0.6; filter: alpha(opacity=60); position: absolute; left: -10px; margin-top: -24px; top: 50%; z-index: 10;}
.partners_prev:hover{opacity: 1; filter: alpha(opacity=100);}

.partners_next{display: block; width: 48px; height: 48px; background: url(../images/next.png) center center no-repeat; opacity: 0.6; filter: alpha(opacity=60); position: absolute; right: -10px; margin-top: -24px; top: 50%; z-index: 10;}
.partners_next:hover{opacity: 1; filter: alpha(opacity=100);}

#partners .carousel-box{position: relative;padding-left: 20px; padding-right: 20px;}
#partners .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#partners .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#partners .caroufredsel_wrapper{padding: 0; margin: 0;}
#partners .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#partners .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.partners{}
.partners .banner_inner{}
.partners .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover{ background: none; }
.partners .banner_inner a figure{margin: 0; padding: 0px; position: relative; border: none; padding: 0px; background: none; opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover figure{background: none; opacity: 1; filter: alpha(opacity=100);}
.partners .banner_inner a figure img{margin: 0 auto; border-radius:0 0 0 0; -moz-border-radius:0 0 0 0; -webkit-border-radius:0 0 0 0;}
.partners .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}

/* ============================= partners end ====================== */

#contacts{position: relative; background: #fff; padding-top: 100px; padding-bottom: 50px;}

#google_map{position: relative; width: 100%; height: 320px;}

#signup{position: relative; background: #03a9f4; padding-top: 35px; padding-bottom: 35px; text-align: center;}
.signup_wrapper{display: inline-block;}
.signup_wrapper .box1{display: inline-block; padding-right: 50px; text-align: left;}
.signup_wrapper .box2{display: inline-block;}
.signup_wrapper .txt1{padding-left: 50px; background: url(../images/signup.png) left center no-repeat; min-height: 23px; font-weight: 700; font-size: 14px; color: #fff; line-height: 20px; padding-top: 8px;}

.subscribe-wrapper{}
.subscribe{width: 470px; position: relative; padding-right: 110px;}
.subscribe input { width: 100%; height: auto; font-size: 14px; line-height: 20px; color:#555555; background: #fff; border: 1px solid #fff; margin: 0; padding: 10px 10px 10px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.subscribe input:focus {color: #333333; background-color: #fff;  border-color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: none;}
.subscribe a{position: absolute; right: 0; top: 0; width: 110px; background: #f9b73d; text-align: center; font-weight: 700; font-size: 12px; line-height: 20px; text-transform: uppercase; color: #333333; text-decoration: none; padding: 11px;}
.subscribe a:hover{background: #fff; color: #000;}

.sidebar-block{margin-bottom: 40px;}
.sidebar-title{margin-bottom: 30px; border-bottom: 1px solid #141414; font-size: 18px; font-weight: 700; color: #333333; text-transform: uppercase; padding-bottom: 10px; position: relative; padding-left: 30px;}
.sidebar-title:before{content: ''; display: block; width: 10px; height: 10px; background: #f9b73d; position: absolute; left: 5px; top: 10px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}

.search-form-wrapper2{position: relative;}
.search-form-wrapper2 .form-control{border: 1px solid #ebebeb; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; padding-top: 9px; padding-bottom: 9px; height: 40px; color: #989898; font-style: italic;}
.search-form-wrapper2 .form-control:focus{box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-color: #333e48;}
.search-form-wrapper2 a{position: absolute; right: 0px; top: 0px; text-align: center; width: 40px; line-height: 40px; color: #d0d0d0; background: none;}
.search-form-wrapper2 a:hover{color: #333e48; background: none;}
.search-form-wrapper2 a i{font-size: 16px; line-height: 40px;}

.ul4{padding: 0; margin-bottom: 20px; list-style: none;}
.ul4 li{list-style: none; display: block; border-top: 1px solid #eeeeee;}
.ul4 li:first-child{border-top: none;}
.ul4 li a{display: block; color: #777777; font-size: 15px; padding: 10px 45px 10px 0; line-height: 20px; text-decoration: none; position: relative;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.ul4 li a:hover{color: #fff; background: #f9b73d; padding-left: 15px; padding-right: 30px;}
.ul4 li a:before{content: "\f054"; font-family: "FontAwesome"; display: block; position: absolute; right: 10px; top: 13px; font-size: 10px;}
.ul4 li a:hover:before{}

.recent{margin-bottom: 20px;}
.recent a{display: block; text-decoration: none;}
.recent a figure{float: left; margin-right: 15px; position: relative;}
.recent a figure img{position: relative;}
.recent a figure em{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; filter:alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.recent a:hover figure em{opacity: 1; filter:alpha(opacity=100);}
.recent a .caption{overflow: hidden; padding-top: 0px;}
.recent a .caption .txt1{color: #141414; font-weight: 400; font-size: 15px; padding-bottom: 5px; line-height: 1.4;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.recent a:hover .caption .txt1{color: #6f6f6f;}
.recent a .caption .txt2{font-size: 12px; color: #6f6f6f;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.recent a:hover .caption .txt2{color: #000;}

.flickr{display: block; padding: 0; margin: 0; list-style: none;}
.flickr li{display: block; float: left; margin: 0 25px 25px 0;}
.flickr li a{display: block; text-decoration: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.flickr li a:hover{opacity: 0.6; filter:alpha(opacity=60);}
.flickr li a img{position: relative;}

.tags{ display: block; margin: 0; padding: 0; list-style: none; text-align: left;}
.tags li{display: inline-block; margin: 0 8px 8px 0px; float: left;}
.tags li a{ display: inline-block; background: none; border: none; padding: 5px 15px; font-size: 13px; font-weight: 400; color: #6f6f6f; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-decoration: none; border: 1px solid #ececec;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.tags li a:hover{background: #f9b73d; border-color: #f9b73d; color: #fff;}

.post{margin-bottom: 60px;}
.post .post-header{position: relative;}
.post .post-header .post-image{position: relative;}
.post .post-header .post-image img{position: relative; width: 100%;}
.post .post-story{position: relative;}
.post .post-by{padding-bottom: 15px;}
.post .post-by a{color: #f9b73d; text-decoration: none;}
.post .additionals{border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; position: relative; margin-bottom: 20px; padding-right: 70px; padding: 5px 0;}
.post .additional{display: inline-block; padding-right: 20px;}
.post .additional a{text-decoration: none;}
.post .post-date-wrapper{position: absolute; right: 0; bottom: 0; background: #f9b73d; width: 60px; font-size: 16px; color: #fff; text-align: center; font-style: italic; text-transform: uppercase; line-height: 1; padding: 10px 0;}
.post .post-story-link{text-align: right;}
.post .post-story-link a{display: inline-block;}

.pager-wrapper{border-top: 2px solid #ececec; padding-top: 50px; text-align: right;}
.pager{display: inline-block; text-align: center; margin: 0;padding: 0; font-weight: 400; font-size: 18px;}
.pager li{vertical-align: top; margin: 0 2px;}
.pager li > a{border: 1px solid #ececec; padding: 0px 2px; border-radius: 0px; background: #fff; color: #141414; text-align: center; min-width: 44px; line-height: 42px; text-decoration: none;}
.pager li > a:hover{text-decoration: none; background: #03a9f4; border-color: #03a9f4; color: #fff;}
.pager li.active > a{background: #03a9f4; color: #fff; cursor: default; text-decoration: none; border-color: #03a9f4;}
.pager .dots{height: 26px; display: inline-block; line-height: 36px; font-size: 20px;}
.pager .prev{}
.pager .prev > a{float: none;}
.pager .prev > a:before{content: "\f104"; font-family: 'FontAwesome'; display: inline-block; font-size: 16px;}
.pager .prev > a:hover{}
.pager .prev > a:hover:before{}
.pager .next{}
.pager .next > a{float: none;}
.pager .next > a:after{content: "\f105"; font-family: 'FontAwesome'; display: inline-block; font-size: 16px;}
.pager .next > a:hover{}
.pager .next > a:hover:after{}

.prev-next-wrapper{position: relative; padding: 10px 0; border-top: 1px solid #141414; border-bottom: 1px solid #141414; margin-bottom: 60px;}
.prev-post{display: inline-block; white-space: nowrap; float: left; font-size: 14px; text-transform: uppercase; color: #141414; text-decoration: none; font-weight: 600;}
.prev-post:hover{color: #f9b73d;}
.next-post{display: inline-block; white-space: nowrap; float: right; font-size: 14px; text-transform: uppercase; color: #141414; text-decoration: none; font-weight: 600;}
.next-post:hover{color: #f9b73d;}

.comments-txt{margin-bottom: 50px; border-bottom: 1px solid #141414; font-size: 24px; font-weight: 600; font-style: italic; color: #333333; padding-bottom: 10px; position: relative; padding-left: 30px;}
.comments-txt:before{content: ''; display: block; width: 10px; height: 10px; background: #f9b73d; position: absolute; left: 5px; top: 18px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}

.comment-block{margin-bottom: 30px;}
.comment-block.left1{margin-left: 100px;}
.comment-block figure{float: left; margin-right: 30px;}
.comment-block figure img{border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.comment-block .caption{overflow: hidden; border: 1px solid #ececec; padding: 30px;}
.comment-block .caption .comment-top{padding-bottom: 10px;}
.comment-block .caption .comment-top .txt1{font-weight: 700; font-size: 12px; color: #f9b73d; text-transform: uppercase; display: inline-block; vertical-align: top;}
.comment-block .caption .comment-top .txt2{color: #6f6f6f; font-size: 11px; display: inline-block; padding-left: 5px; position: relative; vertical-align: top; font-weight: 600;}
.comment-block .caption .txt3{font-style: italic; padding-bottom: 10px;}
.comment-block .caption .leave-reply{float: right;}
.comment-block .caption .leave-reply a{font-size: 12px; color: #141414; text-decoration: none; font-weight: bold; text-decoration: none; text-transform: uppercase;}
.comment-block .caption .leave-reply a i{padding-right: 10px;}

.see-more{margin: 50px 0;}
.see-more a{display: block; position: relative; text-align: center; text-transform: uppercase; font-size: 12px; font-weight: 700; color: #141414; text-decoration: none; border: 1px solid #ececec; padding: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.see-more a:hover{background: #f9b73d; border-color: #f9b73d; color: #fff;}
.see-more a i{padding-left: 20px;}













/* ============================= footer ====================== */

.bot1_wrapper{position: relative; background: #333333; color: #969595; font-size: 13px;}
.bot1{padding-top: 55px; padding-bottom: 65px;}
.base{width: 370px; height: 58px; background: url(../images/base.png); position: absolute; left: 50%; margin-left: -185px; top: 0; text-align: center; color: #fff; font-weight: 600; font-size: 20px; padding: 7px}

.bot1_title{color: #fff; font-weight: 600; padding-bottom: 35px;}

.latest1{padding-top: 20px; margin-top: 20px; border-top: 1px solid #3d3d3d;}
.latest1.first{margin-top: 0; padding-top: 0; border-top: none;}
.latest1 a{display: block; text-decoration: none; line-height: 1.4;}
.latest1 a figure{float: left; margin-right: 15px;}
.latest1 a .caption{display: table;}
.latest1 a .caption .txt1{font-size: 13px; color: #fff;}
.latest1 a .caption .txt2{font-size: 10px; color: #6b6b6b; padding-top: 10px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.latest1 a:hover .caption .txt2{color: #fff;}

.mail2{font-size: 13px; line-height: 20px; color: #969595;}
.mail2 i{color: #4a4a4a; line-height: 20px; float: left; padding-right: 10px; min-width: 30px;}
.mail2 span{display: table;}
.mail2 span a{color: #969595; text-decoration: none;}

.phone2{font-size: 13px; line-height: 20px; color: #969595;}
.phone2 i{color: #4a4a4a; line-height: 20px; float: left; padding-right: 10px; min-width: 30px;}
.phone2 span{display: table;}

.location1{font-size: 13px; line-height: 20px; color: #969595;}
.location1 i{color: #4a4a4a; line-height: 20px; float: left; padding-right: 10px; min-width: 30px;}
.location1 span{display: table;}

.social2_wrapper{}
.social2{ display: block; margin: 0; padding: 0; list-style: none;}

.social2 li{display: inline-block; margin: 0 25px 10px 0; float: left;}
.social2 li a{display: block; text-decoration: none; font-size: 20px; color: #4a4a4a; text-align: center; line-height: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social2 li a:hover{color: #31aae2;}

.bot2_wrapper{position: relative; background: #222222; padding: 20px 0;}
.bot2_wrapper .gridgum{float: left; color: #6b6b6b;}
.bot2_wrapper .gridgum a{ color: #6b6b6b; text-decoration: none;}

.menu_bot{float: right; padding: 0; margin: 0; list-style: none;}
.menu_bot li{display: block; float: left; padding-left: 20px;}
.menu_bot li:first-child{padding-left: 0;}
.menu_bot li a{text-decoration: none; color: #6b6b6b;}
.menu_bot li a:hover{color: #fff;}

.accordion1{font-size: 13px;}
.accordion1 .ui-accordion-header{padding: 12px 0; margin: 0; border: none; background: url(../images/accordion.png) 0 10px no-repeat; outline: none; font-family: 'Open Sans'; font-size: 13px; font-weight: 600; color: #fff; border-top: 1px solid #3d3d3d; padding-left: 30px;}
.accordion1 .ui-accordion-header:first-child{border-top: none;}
.accordion1 .ui-accordion-header .ui-accordion-header-icon{display: none;}
.accordion1 .ui-accordion-header-active{color: #31aae2; background-image: url(../images/accordion2.png);}

.accordion1 .ui-accordion-content{border: none; padding: 5px 0 10px 30px; border-radius: 0; background: none; color: #969595;}


/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none; padding-top: 90px; padding-bottom: 90px; }
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax .container { }






.bg1 { background-image: url(../images/parallax1.jpg); }
.bg2 { background-image: url("../img/double.jpeg"); }





#parallax1{padding-top: 310px; padding-bottom: 400px;}

#parallax2{padding-top: 125px; padding-bottom: 125px;}


















/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: right; padding-top: 35px;
padding-bottom: 35px;}
.navbar_ .navbar-toggle { background: #03a9f4; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 34px; margin-bottom: 34px; margin-right: 5px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #0a8bc5;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; background: none; margin-left: 50px;}
.navbar_ .nav > li:first-child{margin-left: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Open Sans'; font-weight: 700; font-size: 13px; line-height: 20px; color: #fff; text-shadow:none; padding: 5px 0px; border: none; margin: 0; text-align: left; position: relative; z-index: 2; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.navbar_ .nav > li > a em{margin-left: 5px; width: 5px; height: 5px; background: url(../images/caret.png) center center no-repeat; display: inline-block; vertical-align: middle;}

.navbar_ .nav > li > a:focus{color: #fff; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: none;}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #03a9f4; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: none;}

.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{color: #03a9f4; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: none;}







.sub-menu ul{ position: absolute; display: none; left: -20px; top: 100%; list-style: none; zoom: 1; z-index: 1; margin: 0; padding:5px 20px; background: #333333; text-align: left; border: none; margin-top: 40px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #444444;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Open Sans'; font-weight: 400; font-size: 14px; line-height: 20px; color: #888888; text-decoration: none; padding: 10px 30px 10px 0px; background: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #fff;}




.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; margin-left: 1px; background: #fff;}




/* ============================= search-form ====================== */
.search-form-wrapper{position: relative; margin-top: 35px;}
.search-form-wrapper .form-control{background: none; border: none; border-bottom: 2px solid #4d4d4d; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; padding-top: 5px; padding-bottom: 5px; height: 40px; color: #7b7b7b; font-size: 20px;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; padding-left: 0;}
.search-form-wrapper .form-control:focus{box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-color: #000; color: #000;}
.search-form-wrapper a{position: absolute; right: 0; top: 0; text-align: right; line-height: 40px; color: #4d4d4d;}
.search-form-wrapper a:hover{color: #000;}
.search-form-wrapper a i{font-size: 20px; line-height: 40px;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }


/* ============================= main layout ====================== */
.title1{font-family: 'Open Sans'; font-size: 60px; line-height: 1.1; font-weight: bold; color: #212121; text-align: left; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line1.png) left bottom no-repeat;}

.title2{font-family: 'Open Sans'; font-size: 18px; line-height: 1.6; font-weight: 400; color: #212121;padding-bottom: 20px;}

.title3{font-family: 'Open Sans'; font-size: 60px; line-height: 1.1; font-weight: bold; color: #fff; text-align: right; text-transform: uppercase; padding-top: 30px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line_white.png) right bottom no-repeat; padding-left: 10px;}

.title4{font-family: 'Open Sans'; font-size: 60px; line-height: 1.1; font-weight: bold; color: #212121; text-align: center; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line2.png) center bottom no-repeat;}

.title5{font-family: 'Open Sans'; font-size: 32px; line-height: 1.1; font-weight: bold; color: #212121; text-align: left; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line1.png) left bottom no-repeat;}

.title51{font-family: 'Open Sans'; font-size: 32px; line-height: 1.1; font-weight: bold; color: #212121; text-align: left; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line4.png) left bottom no-repeat;}

.title6{font-family: 'Open Sans'; font-size: 32px; line-height: 1.1; font-weight: bold; color: #212121; text-align: center; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px; margin-bottom: 40px; background: url(../images/line2.png) center bottom no-repeat;}

.title7{font-family: 'Open Sans'; font-size: 25px; line-height: 1.1; font-weight: bold; color: #212121; text-align: center; text-transform: uppercase; padding-top: 10px; padding-bottom: 40px;}

.title8{font-family: 'Open Sans'; font-size: 18px; line-height: 1.1; font-weight: bold; color: #333333; text-align: left; text-transform: uppercase; padding-top: 20px; padding-bottom: 20px;}

.title9{font-family: 'Open Sans'; font-size: 25px; line-height: 1.1; font-weight: bold; color: #212121; text-align: left; text-transform: uppercase; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px; background: url(../images/line3.png) left bottom no-repeat;}

.title10{font-family: 'Open Sans'; font-size: 23px; line-height: 1.2; font-weight: bold; color: #212121; text-align: center; padding-top: 10px; padding-bottom: 40px;}




h2{display: block; font-family:'Open Sans'; font-weight:600; font-size:24px; color:#333333; line-height:1.1; padding:20px 0 10px 0; margin: 0; text-transform: uppercase;}
h2 a{color: #333333; text-decoration: none;}















.img-responsive-old{display: block; max-width: 100%; height: auto;}

.img-responsive{width: auto \9;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.hl1{height: 1px; background: #3d3d3d; margin: 10px 0;}

.ul1{padding: 0; margin-bottom: 20px; list-style: none;}
.ul1 li{list-style: none; display: block; border-top: 1px solid #eeeeee;}
.ul1 li:first-child{border-top: none;}
.ul1 li a{display: block; color: #777777; font-size: 15px; padding: 10px 5px; line-height: 20px; text-decoration: none; position: relative;}
.ul1 li a:hover{color: #fff; background: #e8c184;}
.ul1 li a:before{content: ''; display: block; width: 7px; height: 10px; background: url(../images/li_st1.png); position: absolute; right: 5px; top: 50%; margin-top: -5px;}
.ul1 li a:hover:before{background: url(../images/li_st1_hover.png);}

.pdf{padding-left: 25px; background: url(../images/pdf.png) 0 3px no-repeat; margin-bottom: 10px;}
.pdf a{color: #777777; text-decoration: none;}

.table1{text-align: center; color: #353a3e;}
.table1 thead{}
.table1 thead tr{}
.table1 thead tr th{background: #c7a570; text-transform: uppercase; color: #fff; border: none;}

.table1 tbody{}
.table1 tbody tr{}
.table1 tbody tr:nth-of-type(odd){background: #fcfcfc;}
.table1 tbody tr:hover{background: #f8ecda;}
.table1 tbody tr td{border: none;}

.table1 thead tr th:first-child, .table1 tbody tr td:first-child{text-align: left;}

.all_services{background: url(../images/all_services.png) 40px center no-repeat #03a9f4; text-transform: uppercase; font-size: 17px; color: #fff; font-weight: 700; padding: 19px 10px 19px 85px; margin-bottom: 4px;}

.ul2{padding: 0; margin-bottom: 30px; list-style: none;}
.ul2 li{list-style: none; display: block; border-top: 1px solid #eeeeee; margin-bottom: 4px;}
.ul2 li:first-child{border-top: none;}
.ul2 li a{display: block; color: #333333; font-size: 16px; font-weight: 700; background: #f5f5f5; padding: 20px 10px 20px 40px; text-decoration: none; position: relative;}
.ul2 li a:hover{color: #333333; background: #b1e6fe;}

.ul3{ padding: 0; margin: 0; list-style: none; padding-bottom: 20px;}
.ul3 > li{font-weight: 400; font-family: 'Roboto'; font-size: 14px;color: #f1f1f1; line-height: 1.3; padding:10px 0;}
.ul3 > li a{display: block; text-decoration: none; color: #333333;}
.ul3 > li a:hover{color: #03a9f4;}
.ul3 > li a i{font-size: 48px; float: left; padding-right: 15px; width: 75px; text-align: center;}
.ul3 > li a .caption{display: table;}
.ul3 > li a .txt1{text-transform: uppercase; font-size: 16px; font-weight: 700; padding-bottom: 5px;}


/*-----btn-----*/
.btn-default.btn0{ font-family: 'Open Sans'; display: inline-block; color: #fff; border: 2px solid #fff; font-size: 16px; line-height: 20px; font-weight: 700; padding: 13px 20px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn0:hover{color: #fff; background: #03a9f4; border-color: #03a9f4;}

.btn-default.btn1{ font-family: 'Open Sans'; display: inline-block; color: #fff; border: none; font-size: 16px; line-height: 20px; font-weight: 700; padding: 10px 20px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 20px; margin-bottom: 0px; text-transform: uppercase; background: #03a9f4; position: relative;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #2d2d2d; background: #f9b73d;}

.btn-default.btn2{ font-family: 'Open Sans'; display: inline-block; color: #141414; border: 2px solid #e4e4e4; font-size: 14px; line-height: 20px; font-weight: 400; padding: 13px 30px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 20px; margin-bottom: 0px; text-transform: uppercase; background: #fff; position: relative;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{color: #fff; background: #03a9f4; border-color: #03a9f4;}










/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: none; border: 1px solid #cfcfcf;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: inherit;}

.thumb1 {margin-bottom: 0px; margin-top: 0px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 figure{margin: 0; float: none; margin:0px 0px 20px 0px;background: #fff; padding: 0px;}
.thumb1 figure img{width: 100%;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 20px; margin-top: 0px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb2 figure img{width: 100%;}
.thumb2 .caption{font-size: 15px;}





















/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; }

#ajax-contact-form .form-group{margin-left: 0; margin-right: 0; margin-bottom: 20px;}
#ajax-contact-form .form-group label{color: #272727; font-weight: 400; display: none;}
#ajax-contact-form .form-control{height: 48px; padding: 13px 12px; font-size: 14px; line-height: 20px; color: #636363; background: #fafafa;border: 1px solid #fafafa;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase;}
#ajax-contact-form .form-control:focus{border-color: #636363; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#ajax-contact-form textarea.form-control {height: auto;}
#ajax-contact-form .form-group.capthca{float: left; margin-right: 30px;}
#ajax-contact-form .form-group.capthca input{width: 170px;}
#ajax-contact-form .form-group.img{float: left;}
#ajax-contact-form .form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit{display: block; background: #03a9f4; color: #fff; font-family: 'Open Sans'; font-size: 14px; line-height: 20px; font-weight: 700; padding: 10px 20px; text-decoration: none;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border: none; text-transform: uppercase; margin-bottom: 25px;
}
.btn-default.btn-cf-submit:hover{color: #2d2d2d; background: #f9b73d;}


/*================= Contacts2 =========================*/
#ajax-contact-form2{padding-top: 80px;}
#ajax-contact-form2 .form-group{margin-left: 0; margin-right: 0; margin-bottom: 40px;}
#ajax-contact-form2 .form-group label, #ajax-contact-form2 .label{color: #6f6f6f; font-weight: 700; font-size: 16px; text-transform: uppercase; display: block; text-align: left; padding: 0; line-height: inherit; margin-bottom: 10px;}
#ajax-contact-form2 .form-control{height: 48px; padding: 13px 12px; font-size: 14px; line-height: 20px; color: #6f6f6f; background: #fafafa;border: 1px solid #fafafa;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#ajax-contact-form2 .form-control:focus{color: #6f6f6f; border-color: #6f6f6f;   -webkit-box-shadow: none; box-shadow: none;}
#ajax-contact-form2 textarea.form-control {height: auto;}
#ajax-contact-form2 .radio{float: left; margin-bottom: 40px; margin-right: 15px; text-transform: uppercase;}
#ajax-contact-form2 .checkbox{float: left; margin-bottom: 40px; margin-right: 15px; text-transform: uppercase;}

/*================= Contacts3 =========================*/
#note3{ }
.notification_error3{ color:#f00; padding-bottom:10px; }
.notification_ok3{ text-align: left; padding-bottom:10px; }

#ajax-contact-form3 .form-group{margin-left: 0; margin-right: 0;}
#ajax-contact-form3 .form-group label{color: #141414; font-weight: 400; text-transform: uppercase; font-style: italic;}
#ajax-contact-form3 .form-group label span{color: #f6b138;}
#ajax-contact-form3 .form-control{height: 38px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #333333; background: #fff; ; border: 1px solid #ebebeb;border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
#ajax-contact-form3 .form-control:focus{border-color: #f9b73d; background: #fff;   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(246, 99, 1, 0); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(246, 99, 1, 0); color: #000;}
#ajax-contact-form3 textarea.form-control {height: 180px;}
#ajax-contact-form3 .form-group.capthca{float: left; margin-right: 20px;}
#ajax-contact-form3 .form-group.capthca input{width: 170px;}
#ajax-contact-form3 .form-group.img{float: left;}
#ajax-contact-form3 .form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit3{ font-family: 'Open Sans'; display: block; color: #fff; border: none; font-size: 14px; line-height: 20px; font-weight: 400; padding: 15px 35px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0; margin-bottom: 25px;background: #f9b73d; position: relative; text-align: center; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit3:hover{color: #fff; background: #03a9f4;}







/*----- media queries ------*/
/* VERY Large desktop */
@media (min-width: 1920px) {

  .ismall{display: none;}

  .ibig{max-width: none; display: block;}

}
/* Large desktop */
@media (min-width: 1290px) {
  .map{display: none;}
  .map2{display: block;}
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1289px) {

  .navbar_ .nav > li{margin-left: 40px;}

  .track .txt1{font-size: 22px;}

  #parallax1{padding-top: 200px; padding-bottom: 270px;}

  .splash1 .right_box{width: 470px;}
  .splash2 .left_box{width: 470px;}
  .splash3 .right_box{width: 470px;}
  .splash4 .left_box{width: 470px;}

  .title1{font-size: 50px;}

  .title3{font-size: 50px;}

  .title4{font-size: 50px;}

  .subscribe{width: 430px;}


}
@media (min-width: 992px) {


}
@media (min-width: 992px) and (max-width: 1289px) {






}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {

  .track{padding: 30px;}

  #slider{padding-top: 60px;}

  .slider .slider_inner .txt1{font-size: 60px;}

  .slider .slider_inner .txt4{font-size: 14px;}

  #parallax1{padding-top: 150px; padding-bottom: 170px;}

  .splash1 .right_box{width: 360px;}
  .splash2 .left_box{width: 360px;}
  .splash3 .right_box{width: 360px;}
  .splash4 .left_box{width: 360px;}

  .title1{font-size: 40px;}

  .title3{font-size: 40px;}

  .title4{font-size: 40px;}

  .signup_wrapper .box1{padding-right: 0; padding-bottom: 15px;}








}
@media (min-width: 768px) and (max-width: 991px) {

  .navbar_ .nav > li{margin-left: 10px;}












}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .phone1{float: none; border-right: none; margin-right: 0; padding-right: 0; padding-top: 5px; padding-bottom: 5px;}

  .mail1{float: none; padding-top: 5px; padding-bottom: 5px; padding-right: 0;}

  .add1{float: none; padding-top: 10px; padding-bottom: 10px;}





	.navbar_ {float: none; height: 100px; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }
	.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
	.navbar_ .nav{display: block; background: none; border-right: none;background: #333333; border: none; padding: 0 15px}
	.navbar_ .nav > li{float: none;background: none; border-left: none; margin-left: 0; border-top:1px solid #444444; background: none;}
	.navbar_ .nav > li > a{margin-bottom: 0; padding-top: 10px!important; padding-bottom: 10px!important; border: none;}
	.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}
	.sub-menu ul{position: relative; left: 0; top: 0; margin-top: 0;}



  #parallax1{padding-top: 20px; padding-bottom: 70px;}

  #slider{padding-bottom: 30px;}

  .slider .slider_inner .txt1{font-size: 40px; padding-bottom: 20px;}

  .slider .slider_inner .txt2{display: block; padding-top: 10px;}

  .slider .slider_inner .btn0{float: none;}

  .splash1 > div { display: block; width: auto;}
  .splash1 .left_box_wrapper{padding-bottom: 60%;}
  .splash1 .right_box_wrapper{padding-left: 15px; padding-right: 15px;}
  .splash1 .right_box{width: auto;}

  .splash2 > div { display: block; width: auto;}
  .splash2 .right_box_wrapper{}
  .splash2 .left_box_wrapper{padding-left: 15px; padding-right: 15px;}
  .splash2 .left_box{width: auto;}

  .splash3 > div { display: block; width: auto;}
  .splash3 .left_box_wrapper{}
  .splash3 .right_box_wrapper{padding-left: 15px; padding-right: 15px;}
  .splash3 .right_box{width: auto;}

  .car1{max-width: 100%;}

  .splash4 > div { display: block; width: auto;}
  .splash4 .right_box_wrapper{}
  .splash4 .left_box_wrapper{padding-left: 15px; padding-right: 15px;}
  .splash4 .left_box{width: auto;}

  .car2{max-width: 100%; margin-top: 15px; margin-bottom: 15px;}

  .ul0{margin-left: 0;}

  .signup_wrapper{display: block;}

  .signup_wrapper .box1{display: block;}

  .signup_wrapper .box2{display: block;}

  .subscribe{width: 100%;}

  .bot2_wrapper .gridgum{float: none; padding-bottom: 20px;}

  .menu_bot{float: none;}

  .bot1{padding-top: 75px;}

  .bot1_title{padding-top: 30px;}

  .track_wrapper{display: none;}

  .slider .slider_inner .txt2{display: none;}

  #slider{padding: 0;}

  .phone1_wrapper{display: none;}

  .mail1_wrapper {display: none;}

  .sidebar-part{margin-bottom: 30px;}

  .content-part{margin-bottom: 30px;}

  .comment-block.left1{margin-left: 30px;}












}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {

  /*.slider .slider_inner .txt1{display: none;}*/


}
@media (min-height: 1250px) and (max-height: 1500px) {
  .splash1 .right_box {

    padding: 70px 0 120px 0;

  }

}
@media (min-height: 950px) and (max-height: 1100px) {

#services{padding-top: 60px;}
  #ajax-contact-form2 {
    padding-top: 20px;
  }
  #ajax-contact-form2 .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .title1{font-size: 50px;}
  .title3{font-size: 50px;}
  .title4{font-size: 50px;}
  .title2{font-size: 16px;}
  #ajax-contact-form2 .form-group label, #ajax-contact-form2 .label {
    font-size: 15px;

  }
  #ajax-contact-form2 .form-control{
    background: #fafafa;
  }
  .splash1 .right_box {

    padding: 60px 0 85px 0;

  }
  #locations {
    position: relative;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #contacts {
    position: relative;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

@media (min-height: 800px) and (max-height: 920px) {

  #services{padding-top: 60px;}
  #ajax-contact-form2 {
    padding-top: 10px;
  }
  #ajax-contact-form2 .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .title1{font-size: 45px;}
  .title3{font-size: 45px;}
  .title4{font-size: 45px;}
  .title2{font-size: 14px;}
  #ajax-contact-form2 .form-group label, #ajax-contact-form2 .label {
    font-size: 13px;

  }
  #ajax-contact-form2 .form-control{
    background: #fafafa;
  }
  .splash1 .right_box {

    padding: 60px 0 85px 0;

  }
  #locations {
    position: relative;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #contacts {
    position: relative;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .ismall1{margin-top: -180px;}
}